<div class="padding-top-bottom">
	<div ng-show="error">
		<h2>ERROR</h2>
		<p>{{error}}</p>
	</div>
	<h1>{{user.name}} <small class="align-right"><a href="mailto:{{user.email}}">{{user.email}}</a></small></h1>
	<h2>Regular GitLab User</h2>
	<hr />
	<div ng-show="profileComplete">
		<h3>On GitLab since {{user.created_at | date : format : timezone}}, {{user.name}} is a developer based in {{user.location}}
			with <a href="{{user.web_url}}/projects">{{repos.length}} public repositories</a>.</h3>
		<hr />

		<h3>Profile</h3>
		<h4>Website <a href="{{user.website_url}}">{{user.website_url}}</a></h4>
		<h4>Twitter <a href="https://twitter.com/{{user.twitter}}">@{{user.twitter}}</a></h4>
		<h4>Biography: </h4>
		<p>{{user.bio}}</p>
	</div>
	<p ng-hide="profileComplete"><i class='fa fa-spinner fa-spin'></i> Loading...</p>
	<hr />

	<h3>Popular Projects</h3>
	<div ng-repeat="repo in repos | orderBy:'-star_count'" ng-show="repoComplete">
		<hr />
		<h4><a href="{{repo.web_url}}">{{repo.name}}</a> <small>{{repo.created_at | date:'yyyy'}}-{{repo.last_activity_at | date:'yyyy'}}</small></h4>
		<p>{{repo.description}}</p>
		<br />
		<p>This repository has {{repo.star_count}} stars and {{repo.forks_count}} forks. If you would like more information about
			this repository and my contributed code, please visit <a href="{{repo.web_url}}">the repo</a> on GitLab.</p>
	</div>
	<p ng-if="repos.length === 0">Sorry, no repositories on this account.</p>
	<p ng-hide="repoComplete"><i class='fa fa-spinner fa-spin'></i> Loading...</p>
	<hr />

	<h3>Contributions</h3>
	<div ng-repeat="project in projects" ng-show="contrComplete">
		<hr />
		<h4><a href="{{project.web_url}}">{{project.name_with_namespace}}</a></h4>
		<p>{{user.username}} has contributed to <a href="{{project.web_url}}">{{project.name_with_namespace}}</a><span id="commits"
			    ng-show="project.user_commits"> with {{project.user_commits}} commit(s)</span>.
		</p>
	</div>
	<p ng-if="projects.length === 0">Sorry, no contributions on this account.</p>
	<p ng-hide="contrComplete"><i class='fa fa-spinner fa-spin'></i> Loading...</p>
	<hr />

	<h3>Groups</h3>
	<div ng-repeat="group in groups" ng-show="groupComplete">
		<hr />
		<h4><a href="{{group.web_url}}">{{group.name}}</a></h4>
		<h4><small>Member</small></h4>
		<p>If you would like more information about this organization, please visit <a href="{{group.web_url}}">the organization page</a>			on GitLab.
		</p>
	</div>
	<p ng-if="groups.length === 0">Sorry, this account is not associated with any groups.</p>
	<p ng-hide="groupComplete"><i class='fa fa-spinner fa-spin'></i> Loading...</p>
	<hr />
	<h3>
		About this R&eacute;sum&eacute;
		<small>Learn more about how r&eacute;sum&eacute;s are generated <a href="#/about">here</a>. Do not hesitate to visit <a href="{{user.web_url}}">{{user.name}}'s GitLab page</a> for a complete work history.</small>
	</h3>

	<p class="center">{{user.name}} - <a href="mailto:{{user.email}}">{{user.email}}</a> - <a href="{{user.website_url}}">{{user.website_url}}</a>		- <a href="{{user.web_url}}">{{user.web_url}}</a> - <a href="#" ng-click="print()">Print</a></p>
</div>