<h1>My GitLab R&eacute;sum&eacute; <small><a href="#/about">About</a></small></h1>
<hr />
<p>
	A service that creates a résumé based on your GitLab repos/activity, inspired by <a href="https://github.com/resume/resume.github.com">GitHub Résumé</a>.
	Great for all the tech-savy bosses who want to have a quick view of a person's GitLab activity, before the interview.
</p>
<p><br /><br /></p>
<form name="search" ng-submit="submit(username, privatetoken, address, visibility)">
	<div class="form-group">
		<label id="username">GitLab Instance Address <small>No trailing slashes.</small></label>
		<input type="text" id="address" class="form-control" ng-model="address" placeholder="gitlab.com" />
	</div>
	<div class="form-group">
		<label id="username">GitLab Username</label>
		<input type="text" id="username" class="form-control" ng-model="username" placeholder="Enter your GitLab username" />
	</div>
	<div class="form-group">
		<label id="privatetoken">GitLab API Token. <small>This can be found <a ng-href="https://{{address}}/profile/account">here</a>. <a href="#/about#limits">Why?</a></small></label>
		<input type="text" id="privatetoken" class="form-control" ng-model="privatetoken" placeholder="Enter your GitLab API Key"
		/>
	</div>
	<div class="form-group">
		<label for="select" class="control-label">Visibility</label>
		<select class="form-control" id="select" ng-model="visibility">
			<option>public</option>
			<option>private</option>
			<option>internal</option>
		</select>
	</div>
	</div>
	<div class="form-group">
		<button type="submit" id="submit" class="btn btn-default">
			<span ng-show="loading"><i class='fa fa-spinner fa-spin'></i> Generating</span>
			<span ng-hide="loading">Generate</span>
		</button>
	</div>
</form>
<div ng-show="error">
	<h2>ERROR</h2>
	<p>{{error}}</p>
</div>

<p>Built by <a href="https://filiosoft.net">Filiosoft OSS</a>, a sub-project of <a href="https://filiosoft.com">Filiosoft, LLC</a></p>