<h1>This user hasn't opted in <small><a href="#/">Back Home</a></small></h1>
<hr />
<p>
	This user has <strong>not</strong> opted in to this unofficial GitLab R&eacute;sum&eacute;s service.
</p>
<br />
<p>If you would like to opt-in, simply go to our <a href="https://gitlab.com/resume/resume.gitlab.io">GitLab Project</a> page
	and <strong>star</strong> the project.</p>

<br /><br />
<p>Built by <a href="https://filiosoft.net">Filiosoft OSS</a>, a sub-project of <a href="https://filiosoft.com">Filiosoft, LLC</a></p>